<br />
  <div id="my_documents_list">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          Document
        </th>
        <th>
          Created By
        </th>
        <th>
          Created
        </th>
        <th>
          Updated
        </th>
        <th>
          Topic
        </th>
        <th>
          Status
        </th>
        <th>
          Version
        </th>
        <th>
          Review Date
        </th>
        <th>
          Sign Off Status
        </th>
      </tr>
      </thead>
      <tbody>
      <% documents.each do |d| %>
          <tr>
            <td>
              <%= link_to d.title, document_path(d.id) %>
            </td>
            <td>
              <%= d.user.email %>
            </td>
            <td>
              <%= d.created_at %>
            </td>
            <td>
              <%= d.updated_at %>
            </td>
            <td>
              <% if d.topic == nil %>
                Unspecified
              <% else %>
                <%= d.topic.name %>
              <% end%>
            </td>
            <td>
              <%= status_to_string d.status %>
            </td>
            <td>
              <%= d.major_version %>.<%= d.minor_version %>
            </td>
            <td>
              <%= d.review_date %>
            </td>
            <td>
              <% status = d.trainees.find_by_user_id(@current_user.id) %>
              <% if status.status == 0 %>
                <%= link_to trainee_status_to_string(status.status, status.updated_at), document_path(d.id) %>
              <% else %>
                <%= trainee_status_to_string status.status, status.updated_at %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>


