<h1><%= @document.title %> <small>(Revision <%= get_document_version @document %>)</small></h1>

<% if @user == @document.user  && @document.status == 0%>
    <%= link_to 'Edit', edit_document_path(@document.id), class:"btn btn-warning" %>
    <%= link_to 'Delete', @document, method: :delete, data: { confirm: 'Are you sure you want to delete this document?' }, class:"btn btn-danger" %>
<% end %>

<br />


<% if !@document_revisions.empty? %>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Compare to a previous revision
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <% @document_revisions.each do |rev| %>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= compare_path @document.id, rev.id, 0 %>"><%= get_document_version rev %></a></li>
        <% end %>
      </ul>
    </div>
<% end %>

<hr />

<!-- Separate document information by tabs -->
<div id="bs-component" class="tabbable">
  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <% if @document.doc_content_type == "application/pdf" %>
      <li class="active"><a href="#document_preview" data-toggle="tab">Preview</a></li>
      <li class=""><a href="#document_content" data-toggle="tab">View SOP</a></li>
    <% else %>
      <li class="active"><a href="#document_content" data-toggle="tab">View SOP</a></li>
    <% end %>
  
    <li><a href="#document_assigned_users" data-toggle="tab">Compliance Info</a></li>
  </ul>

  <div id="my-tab-content" class="tab-content product-detail-info">
    <% if @document.doc_content_type == "application/pdf" %>
    <br />  
        <div class="tab-pane fade in active" id="document_preview">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/pdfjs/web/viewer.html?file=<%= @document.doc.url.sub('http', 'https') %>" ></iframe>
          </div>    
        </div>    
    <% end %>
    <% active = @document.doc_content_type == 'application/pdf' ? "" : "in active" %>

    <div class="tab-pane fade <%= active  %>" id="document_content">
      <% if @document.doc_content_type != nil %>
          <%= link_to "Download document", @document.doc.url(:original, false) %>
      <% else %>
          <%= @document.content.html_safe%>
      <% end %>
    </div>

    <div class="tab-pane fade" id="document_assigned_users">
      <div class="row">
           <br />
           <dl class="dl-horizontal">    
            <dt>SOP Status: </dt>
            <dd><%= status_to_string @document.status %></dd>
          </dl>
           <dl class="dl-horizontal">    
            <dt>COMPLIANCE: </dt>
            <dd 
            <% if @compliance_status == "NOT COMPLIANT" %>
             class="btn-red"
            <% end %>
            ><%= @compliance_status %></dd>
            
          </dl>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <br />
           <h3>Staff Sign Off:</h3>
          <table class="table">
            <tr>
              <th>Staff</th>
              <th>Status</th>
            </tr>
            <% @trainee_users.each do |t| %>
            <tr>
              <td><%= t[:user].name %></td>
              <td 
               <% if t[:trainee].status != 1 %>
                 class="btn-red"
                <% end %>
              ><%= trainee_status_to_string t[:trainee].status, t[:trainee].updated_at %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="col-sm-6"></div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <br />
          <h3>Reviews</h3>
           <table class="table">
            <tr>
              <th>Staff</th>
              <th>Status</th>
            </tr>
             <% @review_users.each do |r| %>
              <tr>
                <td><%= r[:user].name %></td>
                <td 
                 <% if r[:review].status != 1 %>
                 class="btn-red"
                <% end %>
                ><%= review_status_to_string r[:review].status, r[:review].updated_at %></td>
              </tr>
              <% end %>
          </table>
        </div>
  
        <div class="col-sm-6">
          <br />
          <h3>Approvals</h3>
          <table class="table">
            <tr>
              <th>Staff</th>
              <th>Status</th>
            </tr>
             <% @approval_users.each do |a| %>
              <tr>
                <td><%= a[:user].name %></td>
                <td
                 <% if a[:approval].status != 1%>
                 class="btn-red"
                <% end %>
                ><%= approval_status_to_string a[:approval].status, a[:approval].updated_at %></td>
              </tr>
              <% end %>
          </table>
        </div>

      </div>

      <div class="row">
        <p>
          Created by: <%= @user.name %> <br />
          Created at: <%= @document.created_at %> <br />
          Reviewed: <%= @document.review_date %>
        </p>
      </div>

      <div class="row">
         <br />
        <h3>Previous Versions</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Revision Number
              </th>
              <th>
                Change Control Message
              </th>
              <th>
                Contents
              </th>
            </tr>
          </thead>

          <tbody>
            <% @document_revisions.each do |doc_revision| %>
              <tr>
                <td><%= get_document_version doc_revision %></td>
                <td><%= truncate(doc_revision.change_control, :length => 120) %></td>
                <td><%= link_to 'View', revision_path(doc_revision.document_id, doc_revision.major_version, doc_revision.minor_version) %></td>
              </tr>
            <% end %>
          </tbody>
        </table> 
      </div>

      <div class="row">
         <br />
          <%= commontator_thread(@document) %>
      </div>

    </div>

  </div>
</div>

<% if @is_reviewer || @is_approver || @is_traineer%>
    <hr />

    <%= form_tag 'save_role_response', method: :put do %>
        <%= hidden_field_tag :id, @document.id %>
        <%= hidden_field_tag :relation_id, @relation_id %>
        <!-- Button trigger modal -->
        <% if @is_reviewer %>
            <%= @document.user.name %> has assigned you to review this document.
            <% if @review.status == 0 %>
                You have not yet reviewed this document.
            <% end %>
            <br /><br />
            <% if @review.status != 1 %>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
                  Mark as reviewed
                </button>
            <% else %>
                You have already marked this document as reviewed.
            <% end %>
        <% elsif @is_approver %>
            <%= @document.user.name %> has assigned you to approve this document.
            <% if @approval.status == 0 %>
                You have not yet approved or declined this document.
            <% end %>
            <br /><br />
            <% if @approval.status != 1 %>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
                  Approve
                </button>
            <% else %>
                You have already approved this document.
            <% end %>
            <% if @approval.status != 2 %>
                <input type="submit" class="btn btn-danger btn-lg" value="Decline document" name="decline" />
            <% else %>
                You have already declined this document.
            <% end %>
        <% elsif @is_traineer && @document.status == 3 && @trainee.status == 0 %>
            <!--%= @trainee.status%-->
            <%= @document.user.name %> has assigned you to do the sign off to comply with this document.
            <% if @trainee.status == 0 %>
                You have not signed off yet.
            <% end %>
            <br /><br />
            <% if @trainee.status != 1 %>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
                  Agree and sign off
                </button>
            <% else %>
                You have signed off to comply with this document.
            <% end %>
        <% end %>
    <% end %>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <% if @is_reviewer %>
                  Mark as reviewed
              <% elsif @is_approver %>
                  Approve
              <% else %>
                  Agree to be compliant
              <% end %>
            </h4>
          </div>

          <div class="modal-body">
            <% if @is_reviewer %>
                I have reviewed this document.
            <% elsif @is_approver%>
                I approve this document.
            <% else %>
                I have read the document
            <% end %>
            <br />
            <%= bootstrap_form_tag url: 'save_role_response', method: :put do |f| %>
                <%= f.hidden_field :id, value: @document.id %>
                <%= f.hidden_field :relation_id, value: @relation_id %>
                <%= f.text_field(:email, value: @current_user.email) %>
                <%= f.password_field(:password) %>
                <br />
                <br />
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <% if @is_reviewer %>
                      <input type="submit" class="btn btn-success" value="Mark document as reviewed" name="review" />
                  <% elsif @is_approver %>
                      <input type="submit" class="btn btn-success" value="Approve document" name="approve" />
                  <% else %>
                      <input type="submit" class="btn btn-success" value="Agree to document" name="train" />
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<% end %>
