<!DOCTYPE html>
<html>
<head>
  <title>YourSOP 1.0</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Your SOP</a>
      </div>

      <% if user_signed_in? %>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              
                <li class="<% if controller?("documents") %> <%= 'active'%> <% end %>"><a href="<%= documents_path %>">Documents <span class="sr-only">(current)</span></a></li>

                <% if if_current_user_is_quality %>
                  <li class="<% if controller?("risks") %> <%= 'active'%> <% end %>"><a href="<%= risks_path %>">Topics <span class="sr-only">(current)</span></a></li>
                <% end %>
                <li class="<% if controller?("audits") %> <%= 'active'%> <% end %>"><a href="<%= audits_path %>">Audits <span class="sr-only">(current)</span></a></li>
                <li class="<% if controller?("dashboard") %> <%= 'active'%> <% end %>"><a href="/dashboard/index">Dashboard <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if @current_organisation != nil %>
                  <li><%= link_to @current_organisation.name, organisations_path %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      Settings
                      <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <% if @current_user_is_owner %>
                          <li><%= link_to 'Manage users', users_organisations_path %></li>
                      <% else %>
                          <li><%= link_to 'View users', users_organisations_path %></li>
                      <% end %>
                      <% if if_current_user_is_quality %>
+                          <li><%= link_to 'Manage Topics', topics_path %></li>
+                      <% end %>
                    </ul>
                  </li>
              <% end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Signed in as <%= current_user.email %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Edit profile', main_app.edit_user_registration_path %></li>
                </ul>
              </li>
              <li>
                <%= link_to 'Sign out', '/users/sign_out', method: 'delete' %>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
      <% end %>
    </div>
    <!-- /.container-fluid -->
  </nav>

  <% flash.each do |key, value| %>
      <div class="bg-warning alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>

</div>
</body>
</html>
