

<form action="organisations/new">
  <button type="submit" class="btn btn-success">Create a new pharmacy</button>
</form>

<% if !@organisation_invitations.empty? %>
    <h3>You have been invited to join</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          Organisation
        </th>
        <th>
          Invited by
        </th>
        <th style="width: 20%;">
          <!-- Accept / Decline -->
        </th>
      </tr>
      </thead>
      <tbody>
      <% @organisation_invitations.each do |org| %>
          <tr>
            <td>
              <%= org.name %>
            </td>
            <td>
              TODO inviter
            </td>
            <td>
              <%= link_to 'Accept', "organisations/accept_organisation_invitation?organisation_id=" + org.id.to_s, method: :post %>
              <%= link_to 'Decline', "organisations/decline_organisation_invitation?organisation_id=" + org.id.to_s, method: :post %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>

<% if @organisations.empty? %>
    <h3>You are not a member of any pharmacies, here are your options:</h3>
    <div class="col-sm-6">
      <h4>Setup a new pharmacy</h4>

      <%= bootstrap_form_for @organisation, :url => {:controller => "organisations", :action => "create"}  do |form| %>
          <%= form.hidden_field :user_id, value: @current_user_id %>
          <%= form.text_field :name %>
           <%= form.text_field :gms_code %>
          <div class="actions">
            <%= form.submit "Create", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h4>Join an existing pharmacy</h4>


    </div>
    
<% else %>
    <h2>You are members of following pharmacies.</h2>


    <li>
      <div class="profile_page">
        <div class="side_spacer"></div>
        <div class="view">

          <div class="user_icon">
            <h1>{{user.user.name.substr(0, 1)}}</h1>
          </div>

          <div class="text-center">
            <h1>{{user.user.name}}</h1>
            <h5 style="color: #A9A9A9">{{user.user.email}}</h5>
            <h5 style="color: #A9A9A9">{{user.user.where_born}}</h5>
          </div>
        </div>
        <div class="side_spacer"></div>
      </div>
    </li>

    <table class="table table-striped">
    <thead>
        <tr>
          <th>
            Organisation
          </th>
          <th style="width: 20%;">
            <!-- Active / Make active -->
          </th>
        </tr>
    </thead>
    <tbody>
        <% @organisations.each do |org| %>
            <tr>
              <td>
                <%= org.name %>
              </td>
              <td>
                <% if org == @current_organisation %>
                    Active
                <% else %>
                    <%= link_to 'Make active', "organisations/save_current_organisation?organisation_id=" + org.id.to_s, method: :post %>
                <% end %>
              </td>
            </tr>
        <% end %>
    </tbody>
    </table>
<% end %>